
<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-md-3">
          <h5>Max movie database page</h5></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-9"> <span class="small">For your best movie & tv show searching experience</span></div>
        <div class="col-md-3">  <a routerLink="/feedback-list"><img src="../../assets/img/speaker_notes-24px.svg"></a> </div>
      </div>
    </div>
  </footer>