<div class="container" id="pagebody">
    <h1>Actors</h1>

    <input class="form-control mr-sm-2" type="text" placeholder="Search for actors" (keyup)="onKey($event)">

    <ul id="images" *ngFor='let actor of actorList'>

        <a href="https://en.wikipedia.org/wiki/{{actor.name}}" target="_blank">
            <div *ngIf="actor.profile_path === null; else image">
                <li>
                    <img src="../.../../assets/img/noimg.png" width="100px" height="138px">
                </li>
            </div>
            <ng-template #image>
                <li>
                    <img src="{{actor.actorimg}}">
                </li>
            </ng-template>
            <li>
                <p>{{actor.name}}</p>
            </li>
        </a>
    </ul>

</div>