<div class="container" id="pagebody">
    <h1>Movies</h1>
    <input class="form-control mr-sm-2" type="text" placeholder="Search for your favorite movies"
        (keyup)="onKey($event)">

    <div *ngFor='let movie of movieList'>
        <div class="row top-buffer">
            <div class="col-8">
                <p class="h5">{{movie.title}}</p>
                <p>{{movie.overview}}</p>
            </div>
            <div class="col-4">
                <img src='http://image.tmdb.org/t/p/w185/{{movie.poster_path}}' alt="No Image"><br>
            </div>
        </div>
        <div class="col-8 row top-buffer border-bottom">
            <p>Release date: {{movie.release_date}}</p>
        </div>
    </div>
</div>